body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
}


p,
h1,
h2,
h3,
ul {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    margin: 0 auto;
    width: 1620px;
}

.header {
    padding: 60px 0px;
    background-color: #0C70AC;

}

.header-list {
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;

}

.header-link {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;

}

.header-link:hover {
    font-family: "Inter", sans-serif;
    size: 24px;
    color: #F4DE1F;
    font-weight: 700;

}

.hero {
    background-color: #0C70AC;
    border-top: 1px solid #FFFFFF;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-wrap{
   max-width: 663px;
}

.hero-title {
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
   
    
    
}

.hero-text {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 1px;
    text-shadow: 0px 4px 4px #00000040;
   
    
}

.destinations {
    padding: 80px 0px 80px;
}

.destinations-title {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 50px;
}

.destinations-list {
    display: flex;
    justify-content: space-between;

}

.destinations-item {
    text-align: center;
}

.destinations-name {
    font-size: 36px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
}

.destinations-text {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 30px;
}

.destinations-link {
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
    color: #7C7C7C;
}


.our {
    padding: 80px 0px 80px;
    background-color: #E6E6E6;

}

.our-title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
    text-align: center;
}

.our-list {
    display: flex;
    gap: 30px;
}

.our-item {
    background-color: #FFFFFF;
    padding-bottom: 50px;
    border-radius: 15px;
}

.our-date {
    font-size: 16px;
    font-weight: 600;
    padding: 25px 40px 25px;
    color: #7C7C7C;
}

.our-name {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;

}


.our-text {
    font-size: 20px;
    font-weight: 600;
    padding-left: 40px;
    color: #7C7C7C;
    padding-right: 40px;
}


.gallery {
    padding: 75px 0px 80px;
    background-color: #001C2D;
}

.gallery-container {
    display: flex;
}

.gallery-wrap {
    width: 40%;
}

.gallery-title {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    padding-bottom: 50px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

}

.links-title {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 50px;
    color: #FFFFFF;
}

.links-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;


}

.links-link {
    color: #ffffff;
    font-size: 24px;
    font-weight: 600;    
}

.links-wrap {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding: 63px 0px 63px;
    background-color: #001C2D;
    border-top: 1px solid #FFFFFF;
}

.footer-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: center;

}