body{
     margin: 0px;
    padding: 0px;
    font-family: "Quicksand", sans-serif;
}



p,h1,h2,h3,ul{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    margin: 0 auto;
    width: 1620px;
}

.header{
    padding: 60px 0px 61px;
    background-color: #0C70AC;
    
}

.header-list{
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px #0C70AC;
}

.header-link{
    font-family:"Inter", sans-serif ;
    font-weight: 700;
    size: 24px;
    color: #FFFFFF;
    
}

.header-link:hover{
    font-family: "Inter", sans-serif;
    size: 24px;
    color: #F4DE1F;
    font-weight: 700;

}

.hero {
    background-color: #0C70AC;

}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-title{
    font-size: 64px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #FFFFFF;
}

.hero-text{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 1px ;
    text-shadow: 0px 4px 4px 0px #00000040 ;
}

.destinations{
    padding: 80px 0px 80px;
}

.destinations-title{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 50px;
}
.destinations-list{
    display: flex;
    justify-content: space-between;
    
}

.destinations-item{
    text-align: center;
}

.destinations-name{
    font-size: 36px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 15px;
}

.destinations-text{
    font-size:24px ;
    font-weight:500 ;
    padding-bottom: 30px;
}

.destinations-link{
    text-decoration: underline;
    font-size: 24px;
    font-weight: 500;
    color: #7C7C7C;
}

